# Create Columns

In [2]:
import polars as pl

df = pl.read_csv("data/titanic_dataset.csv")
df.head(1)

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆           ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [15]:
df = df.with_columns([
    # Fare에 10% surcharge를 추가한 새 컬럼 생성
    (pl.col("Fare") * 1.1).alias("Fare_with_surcharge"),

    # Pclass로 나눈 Fare를 계산 (클래스별 운임 비교용)
    (pl.col("Fare") / pl.col("Pclass")).alias("Fare_per_class"),

    # 가족 규모 계산: 동승한 형제/자매+부모+본인
    (pl.col("SibSp") + pl.col("Parch") + 1).alias("Family_size"),
    
    # Age가 존재한다면 미성년자인지 여부 (Age < 18)
    (pl.col("Age") < 18).alias("IsMinor"), 
])
df.head(1)

shape: (1, 16)
┌────────────┬──────────┬────────┬────────────┬───┬────────────┬────────────┬────────────┬─────────┐
│ PassengerI ┆ Survived ┆ Pclass ┆ Name       ┆ … ┆ Fare_with_ ┆ Fare_per_c ┆ Family_siz ┆ IsMinor │
│ d          ┆ ---      ┆ ---    ┆ ---        ┆   ┆ surcharge  ┆ lass       ┆ e          ┆ ---     │
│ ---        ┆ i64      ┆ i64    ┆ str        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ bool    │
│ i64        ┆          ┆        ┆            ┆   ┆ f64        ┆ f64        ┆ i64        ┆         │
╞════════════╪══════════╪════════╪════════════╪═══╪════════════╪════════════╪════════════╪═════════╡
│ 1          ┆ 0        ┆ 3      ┆ Braund,    ┆ … ┆ 7.975      ┆ 2.416667   ┆ 2          ┆ false   │
│            ┆          ┆        ┆ Mr. Owen   ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Harris     ┆   ┆            ┆            ┆            ┆         │
└────────────┴──────────┴────────┴────────────┴───┴────────────┴────────────┴────────────┴─────────┘

In [16]:
df.with_columns([
    pl.col("Fare").max().alias("max_fare"),
    pl.col("Fare").mean().alias("ave_fare"),
    (pl.col("Fare").max() - pl.col("Fare").mean()).alias("Fare_diff")
]).head(1)

shape: (1, 19)
┌─────────────┬──────────┬────────┬──────────────┬───┬─────────┬──────────┬───────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name         ┆ … ┆ IsMinor ┆ max_fare ┆ ave_fare  ┆ Fare_diff  │
│ ---         ┆ ---      ┆ ---    ┆ ---          ┆   ┆ ---     ┆ ---      ┆ ---       ┆ ---        │
│ i64         ┆ i64      ┆ i64    ┆ str          ┆   ┆ bool    ┆ f64      ┆ f64       ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════╪═══╪═════════╪══════════╪═══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.  ┆ … ┆ false   ┆ 512.3292 ┆ 32.204208 ┆ 480.124992 │
│             ┆          ┆        ┆ Owen Harris  ┆   ┆         ┆          ┆           ┆            │
└─────────────┴──────────┴────────┴──────────────┴───┴─────────┴──────────┴───────────┴────────────┘

## Row Count

In [17]:
df.with_row_index().head()

shape: (5, 17)
┌───────┬─────────────┬──────────┬────────┬───┬──────────────┬─────────────┬─────────────┬─────────┐
│ index ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Fare_with_su ┆ Fare_per_cl ┆ Family_size ┆ IsMinor │
│ ---   ┆ ---         ┆ ---      ┆ ---    ┆   ┆ rcharge      ┆ ass         ┆ ---         ┆ ---     │
│ u32   ┆ i64         ┆ i64      ┆ i64    ┆   ┆ ---          ┆ ---         ┆ i64         ┆ bool    │
│       ┆             ┆          ┆        ┆   ┆ f64          ┆ f64         ┆             ┆         │
╞═══════╪═════════════╪══════════╪════════╪═══╪══════════════╪═════════════╪═════════════╪═════════╡
│ 0     ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ 7.975        ┆ 2.416667    ┆ 2           ┆ false   │
│ 1     ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ 78.41163     ┆ 71.2833     ┆ 2           ┆ false   │
│ 2     ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ 8.7175       ┆ 2.641667    ┆ 1           ┆ false   │
│ 3     ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 58.41        ┆ 53.1        ┆ 2           ┆ false   │
│ 4     ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 8.855        ┆ 2.683333    ┆ 1           ┆ false   │
└───────┴─────────────┴──────────┴────────┴───┴──────────────┴─────────────┴─────────────┴─────────┘

# Modifying Columns

In [27]:
df.with_columns(
    pl.col("Name").str.to_titlecase(), 
    # 문자열 컬럼 Cabin을 대문자로 변환

    pl.col("Cabin").str.to_uppercase(),
    # 문자열 컬럼 Embarked를 소문자로 변환 
    
    pl.col("Embarked").str.to_lowercase(),
    # Fare 컬럼을 반올림
    pl.col("Fare").round(1),
    
    # Age 컬럼을 정수로 변환
    pl.col("Age").cast(pl.Int64)
).head(5)

shape: (5, 16)
┌────────────┬──────────┬────────┬────────────┬───┬────────────┬────────────┬────────────┬─────────┐
│ PassengerI ┆ Survived ┆ Pclass ┆ Name       ┆ … ┆ Fare_with_ ┆ Fare_per_c ┆ Family_siz ┆ IsMinor │
│ d          ┆ ---      ┆ ---    ┆ ---        ┆   ┆ surcharge  ┆ lass       ┆ e          ┆ ---     │
│ ---        ┆ i64      ┆ i64    ┆ str        ┆   ┆ ---        ┆ ---        ┆ ---        ┆ bool    │
│ i64        ┆          ┆        ┆            ┆   ┆ f64        ┆ f64        ┆ i64        ┆         │
╞════════════╪══════════╪════════╪════════════╪═══╪════════════╪════════════╪════════════╪═════════╡
│ 1          ┆ 0        ┆ 3      ┆ Braund,    ┆ … ┆ 7.975      ┆ 2.416667   ┆ 2          ┆ false   │
│            ┆          ┆        ┆ Mr. Owen   ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Harris     ┆   ┆            ┆            ┆            ┆         │
│ 2          ┆ 1        ┆ 1      ┆ Cumings,   ┆ … ┆ 78.41163   ┆ 71.2833    ┆ 2          ┆ false   │
│            ┆          ┆        ┆ Mrs. John  ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Bradley    ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ (Fl…       ┆   ┆            ┆            ┆            ┆         │
│ 3          ┆ 1        ┆ 3      ┆ Heikkinen, ┆ … ┆ 8.7175     ┆ 2.641667   ┆ 1          ┆ false   │
│            ┆          ┆        ┆ Miss.      ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Laina      ┆   ┆            ┆            ┆            ┆         │
│ 4          ┆ 1        ┆ 1      ┆ Futrelle,  ┆ … ┆ 58.41      ┆ 53.1       ┆ 2          ┆ false   │
│            ┆          ┆        ┆ Mrs.       ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Jacques    ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Heath (…   ┆   ┆            ┆            ┆            ┆         │
│ 5          ┆ 0        ┆ 3      ┆ Allen, Mr. ┆ … ┆ 8.855      ┆ 2.683333   ┆ 1          ┆ false   │
│            ┆          ┆        ┆ William    ┆   ┆            ┆            ┆            ┆         │
│            ┆          ┆        ┆ Henry      ┆   ┆            ┆            ┆            ┆         │
└────────────┴──────────┴────────┴────────────┴───┴────────────┴────────────┴────────────┴─────────┘

# Delete Columns

In [28]:
df.drop(["PassengerId", "Ticket", "Cabin"]).head(5)

shape: (5, 13)
┌──────────┬────────┬─────────────┬────────┬───┬─────────────┬─────────────┬─────────────┬─────────┐
│ Survived ┆ Pclass ┆ Name        ┆ Sex    ┆ … ┆ Fare_with_s ┆ Fare_per_cl ┆ Family_size ┆ IsMinor │
│ ---      ┆ ---    ┆ ---         ┆ ---    ┆   ┆ urcharge    ┆ ass         ┆ ---         ┆ ---     │
│ i64      ┆ i64    ┆ str         ┆ str    ┆   ┆ ---         ┆ ---         ┆ i64         ┆ bool    │
│          ┆        ┆             ┆        ┆   ┆ f64         ┆ f64         ┆             ┆         │
╞══════════╪════════╪═════════════╪════════╪═══╪═════════════╪═════════════╪═════════════╪═════════╡
│ 0        ┆ 3      ┆ Braund, Mr. ┆ male   ┆ … ┆ 7.975       ┆ 2.416667    ┆ 2           ┆ false   │
│          ┆        ┆ Owen Harris ┆        ┆   ┆             ┆             ┆             ┆         │
│ 1        ┆ 1      ┆ Cumings,    ┆ female ┆ … ┆ 78.41163    ┆ 71.2833     ┆ 2           ┆ false   │
│          ┆        ┆ Mrs. John   ┆        ┆   ┆             ┆             ┆             ┆         │
│          ┆        ┆ Bradley     ┆        ┆   ┆             ┆             ┆             ┆         │
│          ┆        ┆ (Fl…        ┆        ┆   ┆             ┆             ┆             ┆         │
│ 1        ┆ 3      ┆ Heikkinen,  ┆ female ┆ … ┆ 8.7175      ┆ 2.641667    ┆ 1           ┆ false   │
│          ┆        ┆ Miss. Laina ┆        ┆   ┆             ┆             ┆             ┆         │
│ 1        ┆ 1      ┆ Futrelle,   ┆ female ┆ … ┆ 58.41       ┆ 53.1        ┆ 2           ┆ false   │
│          ┆        ┆ Mrs.        ┆        ┆   ┆             ┆             ┆             ┆         │
│          ┆        ┆ Jacques     ┆        ┆   ┆             ┆             ┆             ┆         │
│          ┆        ┆ Heath (…    ┆        ┆   ┆             ┆             ┆             ┆         │
│ 0        ┆ 3      ┆ Allen, Mr.  ┆ male   ┆ … ┆ 8.855       ┆ 2.683333    ┆ 1           ┆ false   │
│          ┆        ┆ William     ┆        ┆   ┆             ┆             ┆             ┆         │
│          ┆        ┆ Henry       ┆        ┆   ┆             ┆             ┆             ┆         │
└──────────┴────────┴─────────────┴────────┴───┴─────────────┴─────────────┴─────────────┴─────────┘