# 레시피 15 : 사칙연산을 활용한 데이터 생성

In [30]:
import polars as pl

df = pl.read_csv("data/titanic_dataset.csv")
df.head(1)

shape: (1, 12)
┌─────────┬─────────┬────────┬─────────┬───┬─────────┬──────┬───────┬─────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Ticket  ┆ Fare ┆ Cabin ┆ Embarke │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---     ┆ ---  ┆ ---   ┆ d       │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ str     ┆ f64  ┆ str   ┆ ---     │
│ i64     ┆ i64     ┆        ┆         ┆   ┆         ┆      ┆       ┆ str     │
╞═════════╪═════════╪════════╪═════════╪═══╪═════════╪══════╪═══════╪═════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ A/5     ┆ 7.25 ┆ null  ┆ S       │
│         ┆         ┆        ┆ Mr.     ┆   ┆ 21171   ┆      ┆       ┆         │
│         ┆         ┆        ┆ Owen    ┆   ┆         ┆      ┆       ┆         │
│         ┆         ┆        ┆ Harris  ┆   ┆         ┆      ┆       ┆         │
└─────────┴─────────┴────────┴─────────┴───┴─────────┴──────┴───────┴─────────┘

In [3]:
df.with_columns([
    # Fare에 10% surcharge(추가 요금)를 부과한 새로운 컬럼 생성
    (pl.col("Fare") * 1.1).alias("Fare_with_surcharge"),

    # Pclass(객실 등급)으로 나눈 Fare를 계산 (클래스별 운임 비교용)
    (pl.col("Fare") / pl.col("Pclass")).alias("Fare_per_class"),

    # 가족 규모 계산: 형제/자매(SibSp) + 부모/자녀(Parch) + 본인(1명 추가)
    (pl.col("SibSp") + pl.col("Parch") + 1).alias("Family_size"),
    
    # 미성년자인지 여부: Age가 존재하는 경우 18세 미만이면 True 반환
    (pl.col("Age") < 18).alias("IsMinor"), 
]).head(1)

shape: (1, 16)
┌─────────┬─────────┬────────┬────────┬───┬────────┬────────┬────────┬────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name   ┆ … ┆ Fare_w ┆ Fare_p ┆ Family ┆ IsMino │
│ erId    ┆ d       ┆ ---    ┆ ---    ┆   ┆ ith_su ┆ er_cla ┆ _size  ┆ r      │
│ ---     ┆ ---     ┆ i64    ┆ str    ┆   ┆ rcharg ┆ ss     ┆ ---    ┆ ---    │
│ i64     ┆ i64     ┆        ┆        ┆   ┆ e      ┆ ---    ┆ i64    ┆ bool   │
│         ┆         ┆        ┆        ┆   ┆ ---    ┆ f64    ┆        ┆        │
│         ┆         ┆        ┆        ┆   ┆ f64    ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪════════╪═══╪════════╪════════╪════════╪════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund ┆ … ┆ 7.975  ┆ 2.4166 ┆ 2      ┆ false  │
│         ┆         ┆        ┆ , Mr.  ┆   ┆        ┆ 67     ┆        ┆        │
│         ┆         ┆        ┆ Owen   ┆   ┆        ┆        ┆        ┆        │
│         ┆         ┆        ┆ Harris ┆   ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴────────┴───┴────────┴────────┴────────┴────────┘

# 레시피 16 : 집계 함수를 활용한 새로운 컬럼 생성

In [4]:
df.with_columns([
    # Fare 컬럼의 최대값을 새로운 컬럼 "max_fare"로 저장
    pl.col("Fare").max().alias("max_fare"),

    # Fare 컬럼의 평균값을 새로운 컬럼 "ave_fare"로 저장
    pl.col("Fare").mean().alias("ave_fare"),

    # 최대 운임과 평균 운임의 차이를 계산하여 "Fare_diff" 컬럼 생성
    (pl.col("Fare").max() - pl.col("Fare").mean()).alias("Fare_diff")
]).head(1)

shape: (1, 15)
┌─────────┬─────────┬────────┬────────┬───┬────────┬────────┬────────┬────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name   ┆ … ┆ Embark ┆ max_fa ┆ ave_fa ┆ Fare_d │
│ erId    ┆ d       ┆ ---    ┆ ---    ┆   ┆ ed     ┆ re     ┆ re     ┆ iff    │
│ ---     ┆ ---     ┆ i64    ┆ str    ┆   ┆ ---    ┆ ---    ┆ ---    ┆ ---    │
│ i64     ┆ i64     ┆        ┆        ┆   ┆ str    ┆ f64    ┆ f64    ┆ f64    │
╞═════════╪═════════╪════════╪════════╪═══╪════════╪════════╪════════╪════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund ┆ … ┆ S      ┆ 512.32 ┆ 32.204 ┆ 480.12 │
│         ┆         ┆        ┆ , Mr.  ┆   ┆        ┆ 92     ┆ 208    ┆ 4992   │
│         ┆         ┆        ┆ Owen   ┆   ┆        ┆        ┆        ┆        │
│         ┆         ┆        ┆ Harris ┆   ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴────────┴───┴────────┴────────┴────────┴────────┘

# 레시피 17 : 행 인덱스 추가 with_row_index

In [6]:
df.with_row_index().head(1)

shape: (1, 13)
┌───────┬──────────┬──────────┬────────┬───┬─────────┬──────┬───────┬─────────┐
│ index ┆ Passenge ┆ Survived ┆ Pclass ┆ … ┆ Ticket  ┆ Fare ┆ Cabin ┆ Embarke │
│ ---   ┆ rId      ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---  ┆ ---   ┆ d       │
│ u32   ┆ ---      ┆ i64      ┆ i64    ┆   ┆ str     ┆ f64  ┆ str   ┆ ---     │
│       ┆ i64      ┆          ┆        ┆   ┆         ┆      ┆       ┆ str     │
╞═══════╪══════════╪══════════╪════════╪═══╪═════════╪══════╪═══════╪═════════╡
│ 0     ┆ 1        ┆ 0        ┆ 3      ┆ … ┆ A/5     ┆ 7.25 ┆ null  ┆ S       │
│       ┆          ┆          ┆        ┆   ┆ 21171   ┆      ┆       ┆         │
└───────┴──────────┴──────────┴────────┴───┴─────────┴──────┴───────┴─────────┘

# 레시피 18 : 데이터 수정

In [12]:
# rename
df.rename({
    "Pclass": "Passenger_Class",
    "Fare": "Ticket_Price"
}).head(1)

shape: (1, 12)
┌─────────┬─────────┬─────────┬────────┬───┬────────┬────────┬───────┬────────┐
│ Passeng ┆ Survive ┆ Passeng ┆ Name   ┆ … ┆ Ticket ┆ Ticket ┆ Cabin ┆ Embark │
│ erId    ┆ d       ┆ er_Clas ┆ ---    ┆   ┆ ---    ┆ _Price ┆ ---   ┆ ed     │
│ ---     ┆ ---     ┆ s       ┆ str    ┆   ┆ str    ┆ ---    ┆ str   ┆ ---    │
│ i64     ┆ i64     ┆ ---     ┆        ┆   ┆        ┆ f64    ┆       ┆ str    │
│         ┆         ┆ i64     ┆        ┆   ┆        ┆        ┆       ┆        │
╞═════════╪═════════╪═════════╪════════╪═══╪════════╪════════╪═══════╪════════╡
│ 1       ┆ 0       ┆ 3       ┆ Braund ┆ … ┆ A/5    ┆ 7.25   ┆ null  ┆ S      │
│         ┆         ┆         ┆ , Mr.  ┆   ┆ 21171  ┆        ┆       ┆        │
│         ┆         ┆         ┆ Owen   ┆   ┆        ┆        ┆       ┆        │
│         ┆         ┆         ┆ Harris ┆   ┆        ┆        ┆       ┆        │
└─────────┴─────────┴─────────┴────────┴───┴────────┴────────┴───────┴────────┘

In [18]:
# map_elements 활용
df.with_columns(
    pl.col("Age")
    .map_elements(lambda x: "Child" if x < 18 else "Adult", return_dtype=pl.String)
    .alias("age_group")
).head(1)

shape: (1, 13)
┌─────────┬─────────┬────────┬─────────┬───┬──────┬───────┬─────────┬─────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Fare ┆ Cabin ┆ Embarke ┆ age_gro │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---  ┆ ---   ┆ d       ┆ up      │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ f64  ┆ str   ┆ ---     ┆ ---     │
│ i64     ┆ i64     ┆        ┆         ┆   ┆      ┆       ┆ str     ┆ str     │
╞═════════╪═════════╪════════╪═════════╪═══╪══════╪═══════╪═════════╪═════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ 7.25 ┆ null  ┆ S       ┆ Adult   │
│         ┆         ┆        ┆ Mr.     ┆   ┆      ┆       ┆         ┆         │
│         ┆         ┆        ┆ Owen    ┆   ┆      ┆       ┆         ┆         │
│         ┆         ┆        ┆ Harris  ┆   ┆      ┆       ┆         ┆         │
└─────────┴─────────┴────────┴─────────┴───┴──────┴───────┴─────────┴─────────┘

In [19]:
# 속도가 더 빠른 방법
df.with_columns(
    pl.when(pl.col("Age") < 18)
    .then(pl.lit("Child"))
    .otherwise(pl.lit("Adult"))
    .alias("age_group")
).head(1)

shape: (1, 13)
┌─────────┬─────────┬────────┬─────────┬───┬──────┬───────┬─────────┬─────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Fare ┆ Cabin ┆ Embarke ┆ age_gro │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---  ┆ ---   ┆ d       ┆ up      │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ f64  ┆ str   ┆ ---     ┆ ---     │
│ i64     ┆ i64     ┆        ┆         ┆   ┆      ┆       ┆ str     ┆ str     │
╞═════════╪═════════╪════════╪═════════╪═══╪══════╪═══════╪═════════╪═════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ 7.25 ┆ null  ┆ S       ┆ Adult   │
│         ┆         ┆        ┆ Mr.     ┆   ┆      ┆       ┆         ┆         │
│         ┆         ┆        ┆ Owen    ┆   ┆      ┆       ┆         ┆         │
│         ┆         ┆        ┆ Harris  ┆   ┆      ┆       ┆         ┆         │
└─────────┴─────────┴────────┴─────────┴───┴──────┴───────┴─────────┴─────────┘

In [23]:
# 비교 
import polars as pl
import timeit
import numpy as np 

# 샘플 데이터 생성 (100만 개의 Age 데이터)
df = pl.DataFrame({"Age": np.arange(0, 100000000) % 100}) 

# map_elements() 방식
def test_map_elements():
    df.with_columns(
        pl.col("Age")
        .map_elements(lambda x: "Child" if x < 18 else "Adult", return_dtype=pl.String)
        .alias("age_group")
    ).head(1)

# when().then().otherwise() 방식
def test_when_then():
    df.with_columns(
        pl.when(pl.col("Age") < 18)
        .then(pl.lit("Child"))
        .otherwise(pl.lit("Adult"))
        .alias("age_group")
    ).head(1)

# 실행 시간 측정
map_elements_time = timeit.timeit(test_map_elements, number=10)
when_then_time = timeit.timeit(test_when_then, number=10)

# 결과 출력
print(f"map_elements() 실행 시간: {map_elements_time:.6f}초")
print(f"when().then().otherwise() 실행 시간: {when_then_time:.6f}초")

map_elements() 실행 시간: 131.874113초
when().then().otherwise() 실행 시간: 9.131302초

In [31]:
# 각 컬럼의 NULL 값 개수 확인
df.select(pl.all().is_null().sum())

shape: (1, 12)
┌───────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ Passenger ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ Id        ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ ---       ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
│ u32       ┆          ┆        ┆      ┆   ┆        ┆      ┆       ┆          │
╞═══════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0         ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└───────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

In [32]:
df2 = df.with_columns(
    df["Age"].fill_null(df["Age"].mean())
)
df2.select(pl.all().is_null().sum())

shape: (1, 12)
┌───────────┬──────────┬────────┬──────┬───┬────────┬──────┬───────┬──────────┐
│ Passenger ┆ Survived ┆ Pclass ┆ Name ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ Id        ┆ ---      ┆ ---    ┆ ---  ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ ---       ┆ u32      ┆ u32    ┆ u32  ┆   ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
│ u32       ┆          ┆        ┆      ┆   ┆        ┆      ┆       ┆          │
╞═══════════╪══════════╪════════╪══════╪═══╪════════╪══════╪═══════╪══════════╡
│ 0         ┆ 0        ┆ 0      ┆ 0    ┆ … ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└───────────┴──────────┴────────┴──────┴───┴────────┴──────┴───────┴──────────┘

# 레시피 19 : 컬럼 삭제

In [33]:
df.drop('Age').head(1)

shape: (1, 11)
┌─────────┬─────────┬────────┬─────────┬───┬─────────┬──────┬───────┬─────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Ticket  ┆ Fare ┆ Cabin ┆ Embarke │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---     ┆ ---  ┆ ---   ┆ d       │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ str     ┆ f64  ┆ str   ┆ ---     │
│ i64     ┆ i64     ┆        ┆         ┆   ┆         ┆      ┆       ┆ str     │
╞═════════╪═════════╪════════╪═════════╪═══╪═════════╪══════╪═══════╪═════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ A/5     ┆ 7.25 ┆ null  ┆ S       │
│         ┆         ┆        ┆ Mr.     ┆   ┆ 21171   ┆      ┆       ┆         │
│         ┆         ┆        ┆ Owen    ┆   ┆         ┆      ┆       ┆         │
│         ┆         ┆        ┆ Harris  ┆   ┆         ┆      ┆       ┆         │
└─────────┴─────────┴────────┴─────────┴───┴─────────┴──────┴───────┴─────────┘

In [34]:
df.drop(["PassengerId", "Ticket", "Cabin"]).head(1)

shape: (1, 9)
┌──────────┬────────┬────────────┬──────┬───┬───────┬───────┬──────┬──────────┐
│ Survived ┆ Pclass ┆ Name       ┆ Sex  ┆ … ┆ SibSp ┆ Parch ┆ Fare ┆ Embarked │
│ ---      ┆ ---    ┆ ---        ┆ ---  ┆   ┆ ---   ┆ ---   ┆ ---  ┆ ---      │
│ i64      ┆ i64    ┆ str        ┆ str  ┆   ┆ i64   ┆ i64   ┆ f64  ┆ str      │
╞══════════╪════════╪════════════╪══════╪═══╪═══════╪═══════╪══════╪══════════╡
│ 0        ┆ 3      ┆ Braund,    ┆ male ┆ … ┆ 1     ┆ 0     ┆ 7.25 ┆ S        │
│          ┆        ┆ Mr. Owen   ┆      ┆   ┆       ┆       ┆      ┆          │
│          ┆        ┆ Harris     ┆      ┆   ┆       ┆       ┆      ┆          │
└──────────┴────────┴────────────┴──────┴───┴───────┴───────┴──────┴──────────┘

In [38]:
import polars.selectors as cs

# cs.exclude
df.select(cs.exclude("Age")).head(1)

shape: (1, 11)
┌─────────┬─────────┬────────┬─────────┬───┬─────────┬──────┬───────┬─────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Ticket  ┆ Fare ┆ Cabin ┆ Embarke │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---     ┆ ---  ┆ ---   ┆ d       │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ str     ┆ f64  ┆ str   ┆ ---     │
│ i64     ┆ i64     ┆        ┆         ┆   ┆         ┆      ┆       ┆ str     │
╞═════════╪═════════╪════════╪═════════╪═══╪═════════╪══════╪═══════╪═════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ A/5     ┆ 7.25 ┆ null  ┆ S       │
│         ┆         ┆        ┆ Mr.     ┆   ┆ 21171   ┆      ┆       ┆         │
│         ┆         ┆        ┆ Owen    ┆   ┆         ┆      ┆       ┆         │
│         ┆         ┆        ┆ Harris  ┆   ┆         ┆      ┆       ┆         │
└─────────┴─────────┴────────┴─────────┴───┴─────────┴──────┴───────┴─────────┘

In [40]:
df.select(cs.exclude(["Age", "Fare"])).head(1)

shape: (1, 10)
┌─────────┬─────────┬────────┬─────────┬───┬───────┬─────────┬───────┬────────┐
│ Passeng ┆ Survive ┆ Pclass ┆ Name    ┆ … ┆ Parch ┆ Ticket  ┆ Cabin ┆ Embark │
│ erId    ┆ d       ┆ ---    ┆ ---     ┆   ┆ ---   ┆ ---     ┆ ---   ┆ ed     │
│ ---     ┆ ---     ┆ i64    ┆ str     ┆   ┆ i64   ┆ str     ┆ str   ┆ ---    │
│ i64     ┆ i64     ┆        ┆         ┆   ┆       ┆         ┆       ┆ str    │
╞═════════╪═════════╪════════╪═════════╪═══╪═══════╪═════════╪═══════╪════════╡
│ 1       ┆ 0       ┆ 3      ┆ Braund, ┆ … ┆ 0     ┆ A/5     ┆ null  ┆ S      │
│         ┆         ┆        ┆ Mr.     ┆   ┆       ┆ 21171   ┆       ┆        │
│         ┆         ┆        ┆ Owen    ┆   ┆       ┆         ┆       ┆        │
│         ┆         ┆        ┆ Harris  ┆   ┆       ┆         ┆       ┆        │
└─────────┴─────────┴────────┴─────────┴───┴───────┴─────────┴───────┴────────┘