# 데이터 가져오기

In [9]:
import polars as pl
pl.__version__

'1.22.0'

In [10]:
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
contoso_sales = pl.read_csv("data/ch08/contoso_sales.csv")
contoso_sales.head(1)

shape: (1, 20)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Ord ┆ Del ┆ … ┆ Net ┆ Uni ┆ Cur ┆ Exc │
│ er  ┆ e   ┆ er  ┆ ive ┆   ┆ Pri ┆ t   ┆ ren ┆ han │
│ Num ┆ Num ┆ Dat ┆ ry  ┆   ┆ ce  ┆ Cos ┆ cy  ┆ ge  │
│ ber ┆ ber ┆ e   ┆ Dat ┆   ┆ --- ┆ t   ┆ Cod ┆ Rat │
│ --- ┆ --- ┆ --- ┆ e   ┆   ┆ f64 ┆ --- ┆ e   ┆ e   │
│ i64 ┆ i64 ┆ str ┆ --- ┆   ┆     ┆ f64 ┆ --- ┆ --- │
│     ┆     ┆     ┆ str ┆   ┆     ┆     ┆ str ┆ f64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 284 ┆ 1   ┆ 201 ┆ 201 ┆ … ┆ 10. ┆ 5.9 ┆ USD ┆ 1.0 │
│ 806 ┆     ┆ 7-1 ┆ 7-1 ┆   ┆ 288 ┆ 58  ┆     ┆     │
│     ┆     ┆ 0-1 ┆ 0-2 ┆   ┆     ┆     ┆     ┆     │
│     ┆     ┆ 8   ┆ 0   ┆   ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

# 레시피 37 : 집계함수 기초

In [3]:
from polars import selectors as cs 
# 수치형 컬럼만 선택하고 합계 계산하기
# Select numeric columns and calculate their sums
contoso_sales.select(cs.numeric()).sum()

shape: (1, 8)
┌─────┬─────┬─────┬─────┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Cus ┆ Qua ┆ Uni ┆ Net ┆ Uni ┆ Exc │
│ er  ┆ e   ┆ tom ┆ nti ┆ t   ┆ Pri ┆ t   ┆ han │
│ Num ┆ Num ┆ er  ┆ ty  ┆ Pri ┆ ce  ┆ Cos ┆ ge  │
│ ber ┆ ber ┆ Age ┆ --- ┆ ce  ┆ --- ┆ t   ┆ Rat │
│ --- ┆ --- ┆ --- ┆ i64 ┆ --- ┆ f64 ┆ --- ┆ e   │
│ i64 ┆ i64 ┆ i64 ┆     ┆ f64 ┆     ┆ f64 ┆ --- │
│     ┆     ┆     ┆     ┆     ┆     ┆     ┆ f64 │
╞═════╪═════╪═════╪═════╪═════╪═════╪═════╪═════╡
│ 446 ┆ 161 ┆ 725 ┆ 435 ┆ 4.1 ┆ 3.9 ┆ 1.7 ┆ 141 │
│ 601 ┆ 95  ┆ 757 ┆ 17  ┆ 785 ┆ 286 ┆ 356 ┆ 24. │
│ 905 ┆     ┆     ┆     ┆ e6  ┆ e6  ┆ e6  ┆ 459 │
│ 2   ┆     ┆     ┆     ┆     ┆     ┆     ┆ 7   │
└─────┴─────┴─────┴─────┴─────┴─────┴─────┴─────┘

In [4]:
# Quantity 컬럼을 series로 변환하고 합계 계산
# Convert Quantity column to series and calculate sum
print(contoso_sales.get_column("Quantity").sum())
print(contoso_sales.select(pl.col("Quantity")).sum())

43517
shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ i64      │
╞══════════╡
│ 43517    │
└──────────┘

In [10]:
# value_counts() 함수 적용
contoso_sales.get_column("Store Name").value_counts().head(5)

shape: (5, 2)
┌─────────────────────────────┬───────┐
│ Store Name                  ┆ count │
│ ---                         ┆ ---   │
│ str                         ┆ u32   │
╞═════════════════════════════╪═══════╡
│ Contoso Store West Virginia ┆ 142   │
│ Contoso Store Kansas        ┆ 131   │
│ Contoso Store Montana       ┆ 106   │
│ Contoso Store New Brunswick ┆ 210   │
│ Contoso Store North Dakota  ┆ 138   │
└─────────────────────────────┴───────┘

In [11]:
# Store Name 컬럼의 값별 빈도수를 정렬하여 계산
contoso_sales.get_column("Store Name").value_counts(sort=True).head(5)

shape: (5, 2)
┌─────────────────────────────┬───────┐
│ Store Name                  ┆ count │
│ ---                         ┆ ---   │
│ str                         ┆ u32   │
╞═════════════════════════════╪═══════╡
│ Online store                ┆ 8005  │
│ Contoso Store New Brunswick ┆ 210   │
│ Contoso Store Nunavut       ┆ 170   │
│ Contoso Store Oregon        ┆ 167   │
│ Contoso Store Maine         ┆ 165   │
└─────────────────────────────┴───────┘

In [14]:
# 정규화된 빈도수 계산 (비율)
contoso_sales.get_column("Store Name").value_counts(sort=True, normalize=True).head(5)

shape: (5, 2)
┌─────────────────────────┬────────────┐
│ Store Name              ┆ proportion │
│ ---                     ┆ ---        │
│ str                     ┆ f64        │
╞═════════════════════════╪════════════╡
│ Online store            ┆ 0.575278   │
│ Contoso Store New       ┆ 0.015092   │
│ Brunswick               ┆            │
│ Contoso Store Nunavut   ┆ 0.012217   │
│ Contoso Store Oregon    ┆ 0.012001   │
│ Contoso Store Maine     ┆ 0.011858   │
└─────────────────────────┴────────────┘

### 특정 스토어 이름으로 필터링하고 수량 합계 계산

In [8]:
# Polars 버전 - 스토어 이름으로 필터링하고 수량 합계 계산
# Polars version - Filter store name and sum quantity
store_quantity_pl = contoso_sales.filter(pl.col("Store Name") == "Contoso Store Corse").select("Quantity").sum()
print("Contoso Store Corse 수량 합계 (Polars):")
print(store_quantity_pl)

Contoso Store Corse 수량 합계 (Polars):
shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ i64      │
╞══════════╡
│ 56       │
└──────────┘

In [9]:
# Polars 버전 - when() 함수를 사용한 필터링과 수량 합계 계산 
# Polars version - Filter using when() function and sum quantity
store_quantity_when = contoso_sales.select(
    pl.when(pl.col("Store Name") == "Contoso Store Corse")
    .then(pl.col("Quantity"))
    .otherwise(0)
    .sum()
)

print("Contoso Store Corse 수량 합계 (when 사용):")
print(store_quantity_when)

Contoso Store Corse 수량 합계 (when 사용):
shape: (1, 1)
┌──────────┐
│ Quantity │
│ ---      │
│ i64      │
╞══════════╡
│ 56       │
└──────────┘

In [10]:
# Pandas 버전 - Pandas로 변환하여 스토어 필터링 후 수량 합계 계산
# Pandas version - Convert to pandas, filter store and sum quantity
import pandas as pd
contoso_sales_pd = contoso_sales.to_pandas()
store_quantity_pd = contoso_sales_pd[contoso_sales_pd["Store Name"] == "Contoso Store Corse"]["Quantity"].sum()
print("\nContoso Store Corse 수량 합계 (Pandas):")
print(store_quantity_pd)

Contoso Store Corse 수량 합계 (Pandas):
56

# 레시피 38 : polars vs pandas 데이터 변환 비교

## 데이터 조회

In [5]:
import polars as pl 
contoso_sales = pl.read_csv("data/ch08/contoso_sales.csv")
contoso_sales.head(1)

shape: (1, 20)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Ord ┆ Del ┆ … ┆ Net ┆ Uni ┆ Cur ┆ Exc │
│ er  ┆ e   ┆ er  ┆ ive ┆   ┆ Pri ┆ t   ┆ ren ┆ han │
│ Num ┆ Num ┆ Dat ┆ ry  ┆   ┆ ce  ┆ Cos ┆ cy  ┆ ge  │
│ ber ┆ ber ┆ e   ┆ Dat ┆   ┆ --- ┆ t   ┆ Cod ┆ Rat │
│ --- ┆ --- ┆ --- ┆ e   ┆   ┆ f64 ┆ --- ┆ e   ┆ e   │
│ i64 ┆ i64 ┆ str ┆ --- ┆   ┆     ┆ f64 ┆ --- ┆ --- │
│     ┆     ┆     ┆ str ┆   ┆     ┆     ┆ str ┆ f64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 284 ┆ 1   ┆ 201 ┆ 201 ┆ … ┆ 10. ┆ 5.9 ┆ USD ┆ 1.0 │
│ 806 ┆     ┆ 7-1 ┆ 7-1 ┆   ┆ 288 ┆ 58  ┆     ┆     │
│     ┆     ┆ 0-1 ┆ 0-2 ┆   ┆     ┆     ┆     ┆     │
│     ┆     ┆ 8   ┆ 0   ┆   ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

### polars 버전

In [6]:
# Data processing using Polars
print("\nPolars select를 활용한 데이터 조회:")
contoso_sales.select(["Store Name", "Quantity", "Net Price"]).head(1)

Polars select를 활용한 데이터 조회:

shape: (1, 3)
┌──────────────┬──────────┬───────────┐
│ Store Name   ┆ Quantity ┆ Net Price │
│ ---          ┆ ---      ┆ ---       │
│ str          ┆ i64      ┆ f64       │
╞══════════════╪══════════╪═══════════╡
│ Online store ┆ 7        ┆ 10.288    │
└──────────────┴──────────┴───────────┘

### pandas 버전

In [10]:
# Pandas loc를 활용한 데이터 처리
# Data processing using pandas loc
contoso_sales_pd = contoso_sales.to_pandas()

print("\nPandas loc를 활용한 데이터 조회:")
contoso_sales_pd.loc[:, ["Store Name", "Quantity", "Net Price"]].head(1)

Pandas loc를 활용한 데이터 조회:

     Store Name  Quantity  Net Price
0  Online store         7     10.288

## 특정 조건 데이터 필터링

### polars 버전

In [11]:
# 특정 조건의 데이터 필터링 
filtered_data_pl = contoso_sales.filter(pl.col("Store Name") == "Contoso Store Corse")
print("\n특정 스토어 데이터:")
filtered_data_pl.head(1)

특정 스토어 데이터:

shape: (1, 20)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Ord ┆ Del ┆ … ┆ Net ┆ Uni ┆ Cur ┆ Exc │
│ er  ┆ e   ┆ er  ┆ ive ┆   ┆ Pri ┆ t   ┆ ren ┆ han │
│ Num ┆ Num ┆ Dat ┆ ry  ┆   ┆ ce  ┆ Cos ┆ cy  ┆ ge  │
│ ber ┆ ber ┆ e   ┆ Dat ┆   ┆ --- ┆ t   ┆ Cod ┆ Rat │
│ --- ┆ --- ┆ --- ┆ e   ┆   ┆ f64 ┆ --- ┆ e   ┆ e   │
│ i64 ┆ i64 ┆ str ┆ --- ┆   ┆     ┆ f64 ┆ --- ┆ --- │
│     ┆     ┆     ┆ str ┆   ┆     ┆     ┆ str ┆ f64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 357 ┆ 0   ┆ 201 ┆ 201 ┆ … ┆ 173 ┆ 91. ┆ EUR ┆ 0.8 │
│ 705 ┆     ┆ 9-1 ┆ 9-1 ┆   ┆ .91 ┆ 93  ┆     ┆ 998 │
│     ┆     ┆ 0-1 ┆ 0-1 ┆   ┆ 3   ┆     ┆     ┆     │
│     ┆     ┆ 7   ┆ 7   ┆   ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

### pandas 버전

In [14]:
# 특정 조건의 데이터 필터링
filtered_data = contoso_sales_pd.loc[contoso_sales_pd["Store Name"] == "Contoso Store Corse"]
print("\n특정 스토어 데이터:")
filtered_data.head(1)

특정 스토어 데이터:

,Order Number,Line Number,Order Date,Delivery Date,Customer Name,Customer Gender,Customer Country,Customer Age,Store Name,Product Name,Color,Brand,Category,Subcategory,Quantity,Unit Price,Net Price,Unit Cost,Currency Code,Exchange Rate
68,357705,0,2019-10-17,2019-10-17,Tabor Daigneault,Male,France,35,Contoso Store Corse,Contoso 16GB Mp5 Player M1600 White,White,Contoso,Audio,MP4&MP3,1,199.9,173.913,91.93,EUR,0.8998

## 다중조건을 활용한 데이터 필터링

### polars 버전

In [15]:
# 다중 조건을 활용한 데이터 필터링
multi_condition_pl = contoso_sales.filter(
    (pl.col("Store Name") == "Contoso Store Corse") & 
    (pl.col("Net Price") > 400)
)
print("\n다중 조건 필터링 결과:")
multi_condition_pl.head(1)

다중 조건 필터링 결과:

shape: (1, 20)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Ord ┆ Del ┆ … ┆ Net ┆ Uni ┆ Cur ┆ Exc │
│ er  ┆ e   ┆ er  ┆ ive ┆   ┆ Pri ┆ t   ┆ ren ┆ han │
│ Num ┆ Num ┆ Dat ┆ ry  ┆   ┆ ce  ┆ Cos ┆ cy  ┆ ge  │
│ ber ┆ ber ┆ e   ┆ Dat ┆   ┆ --- ┆ t   ┆ Cod ┆ Rat │
│ --- ┆ --- ┆ --- ┆ e   ┆   ┆ f64 ┆ --- ┆ e   ┆ e   │
│ i64 ┆ i64 ┆ str ┆ --- ┆   ┆     ┆ f64 ┆ --- ┆ --- │
│     ┆     ┆     ┆ str ┆   ┆     ┆     ┆ str ┆ f64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 349 ┆ 0   ┆ 201 ┆ 201 ┆ … ┆ 439 ┆ 254 ┆ EUR ┆ 0.8 │
│ 303 ┆     ┆ 9-0 ┆ 9-0 ┆   ┆ .91 ┆ .86 ┆     ┆ 997 │
│     ┆     ┆ 7-2 ┆ 7-2 ┆   ┆ 2   ┆     ┆     ┆     │
│     ┆     ┆ 5   ┆ 5   ┆   ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

### pandas 버전

In [17]:
# 다중 조건을 활용한 데이터 필터링
multi_condition = contoso_sales_pd.loc[
    (contoso_sales_pd["Store Name"] == "Contoso Store Corse") & 
    (contoso_sales_pd["Net Price"] > 400)
]
print("\n다중 조건 필터링 결과:")
multi_condition.head(1)

다중 조건 필터링 결과:

,Order Number,Line Number,Order Date,Delivery Date,Customer Name,Customer Gender,Customer Country,Customer Age,Store Name,Product Name,Color,Brand,Category,Subcategory,Quantity,Unit Price,Net Price,Unit Cost,Currency Code,Exchange Rate
2634,349303,0,2019-07-25,2019-07-25,Fanette Robitaille,Female,France,41,Contoso Store Corse,Adventure Works Desktop PC1.80 ED182 White,White,Adventure Works,Computers,Desktops,2,499.9,439.912,254.86,EUR,0.8997

# Group By 연산

In [2]:
import polars as pl
contoso_sales = pl.read_csv("data/ch08/contoso_sales.csv")

## 레시피 39 : Store별 판매 수량과 매출액 집계

### polars 버전

In [3]:
# Store별 판매 수량과 순 매출액 집계
store_summary = contoso_sales.group_by("Store Name").agg([
    pl.col("Quantity").sum().alias("Total Quantity"),
    pl.col("Net Price").sum().alias("Total Net Sales")
]).sort("Total Quantity", descending=True)

print("스토어별 판매 현황:")
store_summary.head(2)

스토어별 판매 현황:

shape: (2, 3)
┌────────────┬────────────┬────────────┐
│ Store Name ┆ Total      ┆ Total Net  │
│ ---        ┆ Quantity   ┆ Sales      │
│ str        ┆ ---        ┆ ---        │
│            ┆ i64        ┆ f64        │
╞════════════╪════════════╪════════════╡
│ Online     ┆ 25017      ┆ 2.2624e6   │
│ store      ┆            ┆            │
│ Contoso    ┆ 631        ┆ 63170.8342 │
│ Store New  ┆            ┆            │
│ Brunswick  ┆            ┆            │
└────────────┴────────────┴────────────┘

### pandas 버전

In [4]:
# Store별 판매 수량과 순 매출액 집계 - pandas 버전
contoso_sales_pandas = contoso_sales.to_pandas()
store_summary_pandas = contoso_sales_pandas.groupby("Store Name").agg({
    "Quantity": "sum",
    "Net Price": "sum"
}).rename(columns={
    "Quantity": "Total Quantity",
    "Net Price": "Total Net Sales"
}).sort_values("Total Quantity", ascending=False)

print("스토어별 판매 현황:")
store_summary_pandas.head(2)

스토어별 판매 현황:

                             Total Quantity  Total Net Sales
Store Name
Online store                          25017     2.262381e+06
Contoso Store New Brunswick             631     6.317083e+04

## 레시피 40 : 스토어-제품별 상세 현황

### polars 버전

In [5]:
# 여러 컬럼으로 그룹화하고 다양한 집계 함수 적용
detailed_summary = contoso_sales.group_by(["Store Name", "Product Name"]).agg([
    pl.col("Quantity").sum().alias("Total Quantity"),
    pl.col("Quantity").count().alias("Number of Orders"), 
    pl.col("Net Price").mean().alias("Avg Net Price")
]).sort("Total Quantity", descending=True)

print("\n스토어-제품별 상세 현황:")
detailed_summary.head(5)

스토어-제품별 상세 현황:

shape: (5, 5)
┌─────┬────────┬───────┬───────┬───────┐
│ Sto ┆ Produc ┆ Total ┆ Numbe ┆ Avg   │
│ re  ┆ t Name ┆ Quant ┆ r of  ┆ Net   │
│ Nam ┆ ---    ┆ ity   ┆ Order ┆ Price │
│ e   ┆ str    ┆ ---   ┆ s     ┆ ---   │
│ --- ┆        ┆ i64   ┆ ---   ┆ f64   │
│ str ┆        ┆       ┆ u32   ┆       │
╞═════╪════════╪═══════╪═══════╪═══════╡
│ Onl ┆ Contos ┆ 112   ┆ 28    ┆ 215.5 │
│ ine ┆ o DVD  ┆       ┆       ┆ 03821 │
│ sto ┆ Record ┆       ┆       ┆       │
│ re  ┆ er     ┆       ┆       ┆       │
│     ┆ L210   ┆       ┆       ┆       │
│     ┆ Silv…  ┆       ┆       ┆       │
│ Onl ┆ WWI    ┆ 111   ┆ 23    ┆ 373.7 │
│ ine ┆ Deskto ┆       ┆       ┆ 33478 │
│ sto ┆ p      ┆       ┆       ┆       │
│ re  ┆ PC3.0  ┆       ┆       ┆       │
│     ┆ M0300  ┆       ┆       ┆       │
│     ┆ Silver ┆       ┆       ┆       │
│ Onl ┆ Advent ┆ 90    ┆ 24    ┆ 293.9 │
│ ine ┆ ure    ┆       ┆       ┆ 64296 │
│ sto ┆ Works  ┆       ┆       ┆       │
│ re  ┆ Deskto ┆       ┆       ┆       │
│     ┆ p PC1. ┆       ┆       ┆       │
│     ┆ 60…    ┆       ┆       ┆       │
│ Onl ┆ SV DVD ┆ 84    ┆ 21    ┆ 57.26 │
│ ine ┆ Extern ┆       ┆       ┆ 261   │
│ sto ┆ al DVD ┆       ┆       ┆       │
│ re  ┆ Burner ┆       ┆       ┆       │
│     ┆ M20…   ┆       ┆       ┆       │
│ Onl ┆ Contos ┆ 83    ┆ 25    ┆ 17.36 │
│ ine ┆ o DVD  ┆       ┆       ┆ 6824  │
│ sto ┆ 48 DVD ┆       ┆       ┆       │
│ re  ┆ Storag ┆       ┆       ┆       │
│     ┆ e Bin… ┆       ┆       ┆       │
└─────┴────────┴───────┴───────┴───────┘

### pandas 버전

In [6]:
# 스토어-제품별 상세 현황 - pandas 버전
detailed_summary_pandas = contoso_sales_pandas.groupby(["Store Name", "Product Name"]).agg({
    "Quantity": ["sum", "count"],
    "Net Price": "mean"
}).reset_index()

# 컬럼명 변경
detailed_summary_pandas.columns = ["Store Name", "Product Name", "Total Quantity", "Number of Orders", "Avg Net Price"]

print("\n스토어-제품별 상세 현황 (pandas):")
detailed_summary_pandas.sort_values("Total Quantity", ascending=False).head(5)

스토어-제품별 상세 현황 (pandas):

,Store Name,Product Name,Total Quantity,Number of Orders,Avg Net Price
6013,Online store,Contoso DVD Recorder L210 Silver,112,28,215.503821
7448,Online store,WWI Desktop PC3.0 M0300 Silver,111,23,373.733478
5769,Online store,Adventure Works Desktop PC1.60 ED160 Silver,90,24,293.964296
7191,Online store,SV DVD External DVD Burner M200 Black,84,21,57.262610
5984,Online store,Contoso DVD 48 DVD Storage Binder M50 Black,83,25,17.366824

## 레시피 41 : 월별 매출 트렌드 분석

### polars 버전

In [57]:
# 월별 매출 트렌드 분석
monthly_sales = contoso_sales.with_columns([
    pl.col("Order Date").str.strptime(pl.Date).dt.strftime("%Y-%m").alias("Month")
]).group_by("Month").agg([
    pl.col("Net Price").sum().alias("Monthly Sales"),
    pl.col("Quantity").sum().alias("Monthly Quantity")
]).sort("Month")

print("월별 매출 트렌드:")
monthly_sales.head(2)

월별 매출 트렌드:

shape: (2, 3)
┌─────────┬───────────────┬──────────────────┐
│ Month   ┆ Monthly Sales ┆ Monthly Quantity │
│ ---     ┆ ---           ┆ ---              │
│ str     ┆ f64           ┆ i64              │
╞═════════╪═══════════════╪══════════════════╡
│ 2017-05 ┆ 42107.7917    ┆ 406              │
│ 2017-06 ┆ 83015.3597    ┆ 790              │
└─────────┴───────────────┴──────────────────┘

### pandas 버전

In [58]:
# 월별 매출 트렌드 분석 - pandas 버전
contoso_sales_pandas['Month'] = pd.to_datetime(contoso_sales_pandas['Order Date']).dt.strftime('%Y-%m')

monthly_sales_pandas = contoso_sales_pandas.groupby('Month').agg({
    'Net Price': 'sum',
    'Quantity': 'sum'
}).reset_index()

monthly_sales_pandas.columns = ['Month', 'Monthly Sales', 'Monthly Quantity']

print("\n월별 매출 트렌드 (pandas):")
monthly_sales_pandas.sort_values('Month').head(2)

월별 매출 트렌드 (pandas):

     Month  Monthly Sales  Monthly Quantity
0  2017-05     42107.7917               406
1  2017-06     83015.3597               790

## 레시피 42 : 카테고리별 성과 분석 (상위 5개)

### polars 버전

In [61]:
category_performance = contoso_sales.group_by("Category").agg([
    pl.col("Net Price").sum().alias("Total Sales"),
    pl.col("Net Price").mean().alias("Avg Price"),
    pl.col("Quantity").sum().alias("Total Units") 
]).sort("Total Sales", descending=True).head(5)

print("\n상위 5개 카테고리 성과:")
category_performance.head(2)

상위 5개 카테고리 성과:

shape: (2, 4)
┌─────────────┬─────────────┬────────────┬─────────────┐
│ Category    ┆ Total Sales ┆ Avg Price  ┆ Total Units │
│ ---         ┆ ---         ┆ ---        ┆ ---         │
│ str         ┆ f64         ┆ f64        ┆ i64         │
╞═════════════╪═════════════╪════════════╪═════════════╡
│ Computers   ┆ 1.4869e6    ┆ 445.458015 ┆ 10503       │
│ Cell phones ┆ 740308.5053 ┆ 211.094527 ┆ 10797       │
└─────────────┴─────────────┴────────────┴─────────────┘

### pandas 버전

In [60]:
# 카테고리별 성과 분석 - pandas 버전
category_performance_pandas = contoso_sales_pandas.groupby('Category').agg({
    'Net Price': ['sum', 'mean'],
    'Quantity': 'sum'
}).reset_index()

# 컬럼명 재설정
category_performance_pandas.columns = ['Category', 'Total Sales', 'Avg Price', 'Total Units']

# 매출 기준 내림차순 정렬 후 상위 5개 추출
category_performance_pandas = category_performance_pandas.sort_values('Total Sales', ascending=False).head(5)

print("\n상위 5개 카테고리 성과 (pandas):")
category_performance_pandas.head(2)

상위 5개 카테고리 성과 (pandas):

      Category   Total Sales   Avg Price  Total Units
3    Computers  1.486939e+06  445.458015        10503
2  Cell phones  7.403085e+05  211.094527        10797

## 레시피 43 : 고객 국가별 구매 패턴

### polars 버전

In [7]:
# 고객 국가별 구매 패턴
country_analysis = contoso_sales.group_by("Customer Country").agg([
    pl.col("Net Price").sum().alias("Total Sales"),
    pl.col("Customer Name").n_unique().alias("Unique Customers"),
    (pl.col("Net Price").sum() / pl.col("Customer Name").n_unique()).alias("Sales per Customer")
]).sort("Total Sales", descending=True)

print("\n국가별 고객 구매 분석:")
country_analysis.head(2)

국가별 고객 구매 분석:

shape: (2, 4)
┌─────┬────────┬───────┬───────┐
│ Cus ┆ Total  ┆ Uniqu ┆ Sales │
│ tom ┆ Sales  ┆ e Cus ┆ per   │
│ er  ┆ ---    ┆ tomer ┆ Custo │
│ Cou ┆ f64    ┆ s     ┆ mer   │
│ ntr ┆        ┆ ---   ┆ ---   │
│ y   ┆        ┆ u32   ┆ f64   │
│ --- ┆        ┆       ┆       │
│ str ┆        ┆       ┆       │
╞═════╪════════╪═══════╪═══════╡
│ Uni ┆ 2.0543 ┆ 2879  ┆ 713.5 │
│ ted ┆ e6     ┆       ┆ 42429 │
│ Sta ┆        ┆       ┆       │
│ tes ┆        ┆       ┆       │
│ Can ┆ 462249 ┆ 631   ┆ 732.5 │
│ ada ┆ .0445  ┆       ┆ 65839 │
└─────┴────────┴───────┴───────┘

### pandas 버전

In [11]:
# 고객 국가별 구매 패턴 - pandas 버전
country_analysis_pandas = contoso_sales_pandas.groupby('Customer Country').agg({
    'Net Price': 'sum',
    'Customer Name': pd.Series.nunique
}).reset_index()

# Sales per Customer 계산
country_analysis_pandas['Sales per Customer'] = country_analysis_pandas['Net Price'] / country_analysis_pandas['Customer Name']

# 컬럼명 재설정
country_analysis_pandas.columns = ['Customer Country', 'Total Sales', 'Unique Customers', 'Sales per Customer']

# 매출 기준 내림차순 정렬
country_analysis_pandas = country_analysis_pandas.sort_values('Total Sales', ascending=False)

print("\n국가별 고객 구매 분석 (pandas):")
country_analysis_pandas.head(2)

국가별 고객 구매 분석 (pandas):

  Customer Country   Total Sales  Unique Customers  Sales per Customer
7    United States  2.054289e+06              2879          713.542429
1           Canada  4.622490e+05               631          732.565839

## 레시피 44 : 고객 국가별 상품별 매출 분석 (상위 5)

### polars 버전

In [12]:
import polars as pl
contoso_sales = pl.read_csv("data/ch08/contoso_sales.csv")
contoso_sales.head(1)

shape: (1, 20)
┌─────┬─────┬─────┬─────┬───┬─────┬─────┬─────┬─────┐
│ Ord ┆ Lin ┆ Ord ┆ Del ┆ … ┆ Net ┆ Uni ┆ Cur ┆ Exc │
│ er  ┆ e   ┆ er  ┆ ive ┆   ┆ Pri ┆ t   ┆ ren ┆ han │
│ Num ┆ Num ┆ Dat ┆ ry  ┆   ┆ ce  ┆ Cos ┆ cy  ┆ ge  │
│ ber ┆ ber ┆ e   ┆ Dat ┆   ┆ --- ┆ t   ┆ Cod ┆ Rat │
│ --- ┆ --- ┆ --- ┆ e   ┆   ┆ f64 ┆ --- ┆ e   ┆ e   │
│ i64 ┆ i64 ┆ str ┆ --- ┆   ┆     ┆ f64 ┆ --- ┆ --- │
│     ┆     ┆     ┆ str ┆   ┆     ┆     ┆ str ┆ f64 │
╞═════╪═════╪═════╪═════╪═══╪═════╪═════╪═════╪═════╡
│ 284 ┆ 1   ┆ 201 ┆ 201 ┆ … ┆ 10. ┆ 5.9 ┆ USD ┆ 1.0 │
│ 806 ┆     ┆ 7-1 ┆ 7-1 ┆   ┆ 288 ┆ 58  ┆     ┆     │
│     ┆     ┆ 0-1 ┆ 0-2 ┆   ┆     ┆     ┆     ┆     │
│     ┆     ┆ 8   ┆ 0   ┆   ┆     ┆     ┆     ┆     │
└─────┴─────┴─────┴─────┴───┴─────┴─────┴─────┴─────┘

In [38]:
# 고객 국가별 상품별 매출 분석 (상위 5)
country_product_analysis = (
    contoso_sales.group_by(["Customer Country", "Product Name"])
    .agg([
        pl.col("Net Price").sum().alias("Total Sales"),
        pl.col("Quantity").sum().alias("Total Units"),
        pl.col("Net Price").mean().alias("Avg Price")
    ])
    .sort(["Customer Country", "Total Sales"], descending=[False, True])
    .group_by("Customer Country")
    .head(5)
)

print("국가별 상위 5개 인기 상품:")
country_product_analysis.head(10)

국가별 상위 5개 인기 상품:

shape: (10, 5)
┌─────┬────────┬───────┬───────┬───────┐
│ Cus ┆ Produc ┆ Total ┆ Total ┆ Avg   │
│ tom ┆ t Name ┆ Sales ┆ Units ┆ Price │
│ er  ┆ ---    ┆ ---   ┆ ---   ┆ ---   │
│ Cou ┆ str    ┆ f64   ┆ i64   ┆ f64   │
│ ntr ┆        ┆       ┆       ┆       │
│ y   ┆        ┆       ┆       ┆       │
│ --- ┆        ┆       ┆       ┆       │
│ str ┆        ┆       ┆       ┆       │
╞═════╪════════╪═══════╪═══════╪═══════╡
│ Uni ┆ Advent ┆ 5277. ┆ 6     ┆ 2638. │
│ ted ┆ ure    ┆ 9818  ┆       ┆ 9909  │
│ Kin ┆ Works  ┆       ┆       ┆       │
│ gdo ┆ 52"    ┆       ┆       ┆       │
│ m   ┆ LCD    ┆       ┆       ┆       │
│     ┆ HDTV   ┆       ┆       ┆       │
│     ┆ X…     ┆       ┆       ┆       │
│ Uni ┆ WWI    ┆ 4434. ┆ 9     ┆ 1108. │
│ ted ┆ Deskto ┆ 175   ┆       ┆ 54375 │
│ Kin ┆ p      ┆       ┆       ┆       │
│ gdo ┆ PC2.33 ┆       ┆       ┆       │
│ m   ┆ X2330  ┆       ┆       ┆       │
│     ┆ Silve… ┆       ┆       ┆       │
│ Uni ┆ NT     ┆ 3542. ┆ 10    ┆ 1771. │
│ ted ┆ Washer ┆ 022   ┆       ┆ 011   │
│ Kin ┆ &      ┆       ┆       ┆       │
│ gdo ┆ Dryer  ┆       ┆       ┆       │
│ m   ┆ 25.5in ┆       ┆       ┆       │
│     ┆ M2550… ┆       ┆       ┆       │
│ Uni ┆ WWI    ┆ 3485. ┆ 17    ┆ 580.8 │
│ ted ┆ Deskto ┆ 365   ┆       ┆ 94167 │
│ Kin ┆ p      ┆       ┆       ┆       │
│ gdo ┆ PC2.30 ┆       ┆       ┆       │
│ m   ┆ M2300  ┆       ┆       ┆       │
│     ┆ Brown  ┆       ┆       ┆       │
│ Uni ┆ Litwar ┆ 3199. ┆ 3     ┆ 3199. │
│ ted ┆ e Refr ┆ 99    ┆       ┆ 99    │
│ Kin ┆ igerat ┆       ┆       ┆       │
│ gdo ┆ or 24. ┆       ┆       ┆       │
│ m   ┆ 7CuFt  ┆       ┆       ┆       │
│     ┆ …      ┆       ┆       ┆       │
│ Net ┆ Litwar ┆ 2879. ┆ 4     ┆ 2879. │
│ her ┆ e Refr ┆ 991   ┆       ┆ 991   │
│ lan ┆ igerat ┆       ┆       ┆       │
│ ds  ┆ or     ┆       ┆       ┆       │
│     ┆ L1200  ┆       ┆       ┆       │
│     ┆ Ora…   ┆       ┆       ┆       │
│ Net ┆ Advent ┆ 2667. ┆ 1     ┆ 2667. │
│ her ┆ ure    ┆ 9908  ┆       ┆ 9908  │
│ lan ┆ Works  ┆       ┆       ┆       │
│ ds  ┆ 52"    ┆       ┆       ┆       │
│     ┆ LCD    ┆       ┆       ┆       │
│     ┆ HDTV   ┆       ┆       ┆       │
│     ┆ X…     ┆       ┆       ┆       │
│ Net ┆ Advent ┆ 2645. ┆ 6     ┆ 1322. │
│ her ┆ ure    ┆ 37    ┆       ┆ 685   │
│ lan ┆ Works  ┆       ┆       ┆       │
│ ds  ┆ Deskto ┆       ┆       ┆       │
│     ┆ p PC2. ┆       ┆       ┆       │
│     ┆ 33…    ┆       ┆       ┆       │
│ Net ┆ Advent ┆ 2609. ┆ 4     ┆ 2609. │
│ her ┆ ure    ┆ 991   ┆       ┆ 991   │
│ lan ┆ Works  ┆       ┆       ┆       │
│ ds  ┆ 52"    ┆       ┆       ┆       │
│     ┆ LCD    ┆       ┆       ┆       │
│     ┆ HDTV   ┆       ┆       ┆       │
│     ┆ X…     ┆       ┆       ┆       │
│ Net ┆ Advent ┆ 2422. ┆ 16    ┆ 1211. │
│ her ┆ ure    ┆ 5     ┆       ┆ 25    │
│ lan ┆ Works  ┆       ┆       ┆       │
│ ds  ┆ Deskto ┆       ┆       ┆       │
│     ┆ p PC2. ┆       ┆       ┆       │
│     ┆ 33…    ┆       ┆       ┆       │
└─────┴────────┴───────┴───────┴───────┘

### pandas 버전

In [39]:
# 고객 국가별 상품별 매출 분석 (상위 5)
contoso_sales_pandas = contoso_sales.to_pandas()
country_product_analysis_pandas = (
    contoso_sales_pandas.groupby(["Customer Country", "Product Name"])
    .agg({
        "Net Price": ["sum", "mean"],
        "Quantity": "sum"
    })
    .reset_index()
)

# 다중 인덱스 컬럼 이름 변경
country_product_analysis_pandas.columns = [
    "Customer Country", "Product Name", "Total Sales", "Avg Price", "Total Units"
]

# 국가별로 매출 기준 내림차순 정렬하고 상위 5개 선택
country_product_analysis_pandas = (
    country_product_analysis_pandas
    .sort_values(["Customer Country", "Total Sales"], ascending=[True, False])
    .groupby("Customer Country")
    .head(5)
    .reset_index(drop=True)
)

print("\n국가별 상위 5개 인기 상품 (pandas):")
country_product_analysis_pandas.head(5)

국가별 상위 5개 인기 상품 (pandas):

,Customer Country,Product Name,Total Sales,Avg Price,Total Units
0,Australia,"Adventure Works 52"" LCD HDTV X590 Black",5422.9813,2711.490650,4
1,Australia,WWI Desktop PC2.33 X2330 White,3924.1300,981.032500,8
2,Australia,Adventure Works Desktop PC2.33 XD233 Brown,3716.1150,1238.705000,12
3,Australia,WWI Desktop PC2.33 X2330 Brown,3051.0800,1017.026667,12
4,Australia,"Adventure Works 52"" LCD HDTV X790W White",3041.1020,1520.551000,2